body {
	margin: auto;	
	background-image: url(image/bg.jpg);
}

h2 {
	text-align: center;
}

/* puzzle */
.content {
	width: 800px;
	margin: 50px auto;
}

/* puzzle control */
.btnGrp {
	width: 385px;
	margin: 40px auto;
}

.button {
	border: 1px solid #000;
	border-radius: 25px;
	padding: 5px 10px;
	margin: auto 20px;
	background-color: #fff;
	color: #000;
}

.button:hover {
	background-color: #000;
	color: #fff;
}

.info {
	width: 800px;
	float: left;
}

/*canvas*/
#canvas {
	display: block;
	margin: auto;
}