body {
	margin: auto;
}

h2 {
	text-align: center;

}

/* puzzle */
.content {
	width: 800px;
	margin: 50px auto;
}

.puzzle {
	height: 320px;
	width: 260px;
	margin: 30px 50px;
	/* puzzle position */
	float: left;
}

.tile {
	height: 80px;
	width: 80px;
	/* center text */
	line-height: 80px;
	text-align: center;
	/* tile position */
	float: left;
	/* tile style */
	border: 1px solid black;
	border-radius: 5px;
	margin: 2px;
}

/* puzzle control */
.control {
	width: 400px;
	height: 200px;
	margin: 20px auto;
}

.button {
	border:1px solid #000;
	border-radius:25px;
	padding: 5px 10px;
	margin: 5px;

	background-color: #fff;
	color: #000;
}

.button:hover {
	background-color: #000;
	color: #fff;
}
